<footer class="py-1 border-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <p class="m-0 text-dark">576i — <a href="mailto:josh@576i.nz">Contact me...</a></p>
        </div>
        <div class="col-sm-4">
          <p class="m-0 text-center text-dark"><a href="{{ site.baseurl }}/about/">About</a> &bull; <a href="{{ site.baseurl }}/disclaimer/">Disclaimers</a> &bull; <a href="http://creativecommons.org/licenses/by/4.0/">License</a></p>
        </div>
        <div class="col-sm-4">
           <p class="m-0 text-right text-muted font-italic">Copyright &copy; Josh Atkinson MMXVIII</p>
        </div>
      </div>
    </div>
</footer>